%h1 Listing scrapers

- @scrapers_by_namespace.each do |group|
  %ul
    %li{ :style => 'list-style-type: none'}
      = group[0]
      %ul
        - group[1].each do |scraper|
          %li{ :style => 'list-style-type: none'}
            = link_to scraper.name, scraper
            = scraper.schedule_every.to_s.sub('1.day','daily').sub(':at => ','')
            [
            = link_to 'edit', edit_scraper_url(scraper)
            ]

=link_to 'New scraper', new_object_url