%p
  %strong Name:
  =h @scraper.name
%p
  %strong Uri:
  =h @scraper.uri
%p
  %strong Pdftotext layout:
  =h @scraper.pdftotext_layout

= link_to "Scrape now", new_scraper_scrape_run_url(@scraper)

- unless @scraper.scrape_runs.empty?
  %table
    %thead
      %tr
        %th
          Id
        %th
          Git
          Commit
          SHA
        %th
          Response
          %br
          code
        %th
          Updated at
        %th
          Last
          %br
          modified
        %th Etag
        %th
          Content
          %br
          type
        %th
          Content
          %br
          length
        %th Uri
        %th 
          File
          %br
          path
        %th
          Git
          %br
          path
        %th
          Response 
          %br
          header
    %tbody      
      = render :partial => "/scrape_runs/scrape_run" , :collection => @scraper.scrape_runs.reverse

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url