%tr
  %td=h scrape_run.response_code
  %td=h scrape_run.last_modified
  %td=h scrape_run.etag
  %td=h scrape_run.content_type
  %td=h scrape_run.content_length
  -if false
    %td=h scrape_run.response_header
  %td=h scrape_run.uri
  %td=h scrape_run.file_path
  %td=h scrape_run.git_path