%h1 New scrape_run

= error_messages_for :scrape_run

- form_for(:scrape_run, @scrape_run, :url => scrape_job_scrape_runs_path(@scrape_job)) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', scrape_job_scrape_runs_path(@scrape_job)