%p
  %strong Response code:
  =h @scrape_run.response_code
%p
  %strong Last modified:
  =h @scrape_run.last_modified
%p
  %strong Etag:
  =h @scrape_run.etag
%p
  %strong Content type:
  =h @scrape_run.content_type
%p
  %strong Content length:
  =h @scrape_run.content_length
%p
  %strong Response header:
  =h @scrape_run.response_header
%p
  %strong Uri:
  =h @scrape_run.uri
%p
  %strong File path:
  =h @scrape_run.file_path
%p
  %strong Git path:
  =h @scrape_run.git_path

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url