%p
  %label{:for => "parser_name"} Name:
  = f.text_field :name
%p
  %label{:for => "parser_uri_pattern"} Uri pattern:
  = f.text_area :uri_pattern
%p
  %label{:for => "parser_parser_file"} Parser file:
  = f.text_field :parser_file
