%h1 Listing parsers

- @parsers_by_namespace.each do |group|
  %ul
    %li{ :style => 'list-style-type: none'}
      = group[0]
      %ul
        - group[1].each do |parser|
          %li{ :style => 'list-style-type: none'}
            = link_to parser.name, parser
            [
            = link_to 'edit', edit_parser_url(parser)
            ]

=link_to 'New parser', new_object_url