%h1 New parser

= error_messages_for :parser

- form_for(:parser, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url