%h1 New web_resource

= error_messages_for :web_resource

- form_for(:web_resource, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url